:root {
  --footer-height: 25px;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #bcbcbc;
}
footer {
    height: 25px;
    background-color: black;
    margin-top: auto;
}

main {
  display: flex;
}

#marvel{
  background-color: #F0131E;
}
