:root {
  --footer-height: 25px;
}

@font-face {
  font-family: marvelFont;
  src: url(../fonts/MarvelRegular-Dj83.ttf);
}

html,
body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #bcbcbc;
}
footer {
    height: 25px;
    background-color: black;
    margin-top: auto;
}

main {
    font-family: Verdana;
    font-size: larger;
    display: flex;
}

#marvel{
  background-color: #F0131E;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}

#Title{
  font-family: marvelFont;
}